<a href="https://colab.research.google.com/github/Ha-eunYu/OTTO/blob/main/OTTO_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install jsonlines
import jsonlines

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting jsonlines
  Downloading jsonlines-3.1.0-py3-none-any.whl (8.6 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.8/dist-packages (from jsonlines) (22.2.0)
Installing collected packages: jsonlines
Successfully installed jsonlines-3.1.0

In [ ]:
#importing Libraries
import polars as pl
from io import StringIO
import pandas as pd
import json
import os
import numpy as np
import csv

In [ ]:
# 내 계정 API Token(json) 다운 받아서 업로드
!pip install kaggle
from google.colab import files
files.upload()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"haeunu","key":"29e3cb0150822d980061ca25d6403725"}'}

In [ ]:
ls -1ha kaggle.json

kaggle.json

In [ ]:
# Kaggle API를 사용하기 위해서 json파일 ~/.kaggle로 이동
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

#Permission Warning 방지
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
# kaggle 데이터셋 API 주소 복사
# !kaggle datasets download -d theblackmamba31/landscape-image-colorization
!kaggle competitions download -c otto-recommender-system

Downloading otto-recommender-system.zip to /content
100% 1.93G/1.94G [00:18<00:00, 165MB/s]
100% 1.94G/1.94G [00:18<00:00, 115MB/s]

In [ ]:
!ls

kaggle.json  otto-recommender-system.zip  sample_data

In [ ]:
!pwd

/content

In [ ]:
!unzip /content/otto-recommender-system.zip

Archive:  /content/otto-recommender-system.zip
  inflating: sample_submission.csv
  inflating: test.jsonl
  inflating: train.jsonl

In [ ]:
with open('test.jsonl', encoding='utf-8') as file:
  test = [json.loads(line) for line in file]
test=pd.DataFrame(test)

In [ ]:
test.head()

    session                                             events
0  12899779  [{'aid': 59625, 'ts': 1661724000278, 'type': '...
1  12899780  [{'aid': 1142000, 'ts': 1661724000378, 'type':...
2  12899781  [{'aid': 141736, 'ts': 1661724000559, 'type': ...
3  12899782  [{'aid': 1669402, 'ts': 1661724000568, 'type':...
4  12899783  [{'aid': 255297, 'ts': 1661724000572, 'type': ...

This Notebook is simple demonsration of Polars Library to convert JSONL file data with around 12GB data to 1.5GB parquest data in kaggle cpu.

In [ ]:
#Install Polars with all optional dependencies.
!pip install 'polars[all]'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars[all]
  Downloading polars-0.15.13-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.7/14.7 MB 61.4 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (4.4.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (1.21.6)
Collecting xlsx2csv>=0.8.0
  Downloading xlsx2csv-0.8.0-py3-none-any.whl (13 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from polars[all]) (1.3.5)
Requirement already satisfied: pyarrow>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (9.0.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from polars[all]) (3.2.2)
Collecting backports.zoneinfo
  Downloading backports.zoneinfo-0.2.1-cp38-cp38-manylinux1_x86_64.whl (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.0/74.0 KB 9.6 MB/s eta 0:00:00
Collecting connectorx
  Downloading connectorx-0.3.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (46.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.6/46.6 MB 19.3 MB/s eta 0:00:00
Collecting deltalake
  Downloading deltalake-0.6.4-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.7/14.7 MB 75.4 MB/s eta 0:00:00
Requirement already satisfied: fsspec in /usr/local/lib/python3.8/dist-packages (from polars[all]) (2022.11.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->polars[all]) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->polars[all]) (1.15.0)
Installing collected packages: xlsx2csv, connectorx, polars, backports.zoneinfo, deltalake
Successfully installed backports.zoneinfo-0.2.1 connectorx-0.3.1 deltalake-0.6.4 polars-0.15.13 xlsx2csv-0.8.0

In [ ]:
#checking the number of session data avilable in training data
with open('test.jsonl', encoding='utf-8') as json_file:
    file_lines = json_file.readlines()

print(f'Test data consists of {len(file_lines)} sessions')

Training data consists of 1671803 sessions

In [ ]:
1671803/12899779

0.12959935205091497

In [ ]:
#creating a polar dataframe
slice_size = 1_000_000
df = pl.concat(
    [
        pl.read_json(
            StringIO("".join(file_lines[offset: (offset + slice_size)])),
            json_lines=True,
        )
        for offset in range(0, len(file_lines), slice_size)
    ]
)
#converting struct of events in 3 columns(aid,ts,type) 
df_final=df.explode('events').unnest('events')

In [ ]:
df_final

shape: (6928123, 4)
┌──────────┬─────────┬───────────────┬────────┐
│ session  ┆ aid     ┆ ts            ┆ type   │
│ ---      ┆ ---     ┆ ---           ┆ ---    │
│ i64      ┆ i64     ┆ i64           ┆ str    │
╞══════════╪═════════╪═══════════════╪════════╡
│ 12899779 ┆ 59625   ┆ 1661724000278 ┆ clicks │
│ 12899780 ┆ 1142000 ┆ 1661724000378 ┆ clicks │
│ 12899780 ┆ 582732  ┆ 1661724058352 ┆ clicks │
│ 12899780 ┆ 973453  ┆ 1661724109199 ┆ clicks │
│ ...      ┆ ...     ┆ ...           ┆ ...    │
│ 14571578 ┆ 519105  ┆ 1662328775009 ┆ clicks │
│ 14571579 ┆ 739876  ┆ 1662328775605 ┆ clicks │
│ 14571580 ┆ 202353  ┆ 1662328781067 ┆ clicks │
│ 14571581 ┆ 1100210 ┆ 1662328791563 ┆ clicks │
└──────────┴─────────┴───────────────┴────────┘

In [ ]:
df_final.select(pl.col("type").unique())

shape: (3, 1)
┌────────┐
│ type   │
│ ---    │
│ str    │
╞════════╡
│ clicks │
│ orders │
│ carts  │
└────────┘

In [ ]:
from_ = ["clicks","orders","carts"]
to_ = [0,1,2]


def replace(column, from_, to_):
    # initiate the expression with `pl.when`
    branch =  pl.when(pl.col(column) == from_[0]).then(to_[0])

    
    # for every value add a `when.then`
    for (from_value, to_value) in zip(from_, to_):
        branch = branch.when(pl.col(column) == from_value).then(to_value)

    # finish with an `otherwise`
    return branch.otherwise(pl.col(column)).alias(column)
    


df_final=df_final.with_column(replace("type", from_, to_))

In [ ]:
df_final

shape: (6928123, 4)
┌──────────┬─────────┬───────────────┬──────┐
│ session  ┆ aid     ┆ ts            ┆ type │
│ ---      ┆ ---     ┆ ---           ┆ ---  │
│ i64      ┆ i64     ┆ i64           ┆ str  │
╞══════════╪═════════╪═══════════════╪══════╡
│ 12899779 ┆ 59625   ┆ 1661724000278 ┆ 0    │
│ 12899780 ┆ 1142000 ┆ 1661724000378 ┆ 0    │
│ 12899780 ┆ 582732  ┆ 1661724058352 ┆ 0    │
│ 12899780 ┆ 973453  ┆ 1661724109199 ┆ 0    │
│ ...      ┆ ...     ┆ ...           ┆ ...  │
│ 14571578 ┆ 519105  ┆ 1662328775009 ┆ 0    │
│ 14571579 ┆ 739876  ┆ 1662328775605 ┆ 0    │
│ 14571580 ┆ 202353  ┆ 1662328781067 ┆ 0    │
│ 14571581 ┆ 1100210 ┆ 1662328791563 ┆ 0    │
└──────────┴─────────┴───────────────┴──────┘

In [ ]:
df_final=df_final.with_column(pl.col("type").cast(pl.Int32, strict=False).alias("type"))
df_final

shape: (6928123, 4)
┌──────────┬─────────┬───────────────┬──────┐
│ session  ┆ aid     ┆ ts            ┆ type │
│ ---      ┆ ---     ┆ ---           ┆ ---  │
│ i64      ┆ i64     ┆ i64           ┆ i32  │
╞══════════╪═════════╪═══════════════╪══════╡
│ 12899779 ┆ 59625   ┆ 1661724000278 ┆ 0    │
│ 12899780 ┆ 1142000 ┆ 1661724000378 ┆ 0    │
│ 12899780 ┆ 582732  ┆ 1661724058352 ┆ 0    │
│ 12899780 ┆ 973453  ┆ 1661724109199 ┆ 0    │
│ ...      ┆ ...     ┆ ...           ┆ ...  │
│ 14571578 ┆ 519105  ┆ 1662328775009 ┆ 0    │
│ 14571579 ┆ 739876  ┆ 1662328775605 ┆ 0    │
│ 14571580 ┆ 202353  ┆ 1662328781067 ┆ 0    │
│ 14571581 ┆ 1100210 ┆ 1662328791563 ┆ 0    │
└──────────┴─────────┴───────────────┴──────┘

In [ ]:
#checking the number of session data avilable in training data
with open('train.jsonl', encoding='utf-8') as json_file:
    file_lines = json_file.readlines()

print(f'Training data consists of {len(file_lines)} sessions')

In [ ]:
#creating a polar dataframe
slice_size = 1_000_000
df = pl.concat(
    [
        pl.read_json(
            StringIO("".join(file_lines[offset: (offset + slice_size)])),
            json_lines=True,
        )
        for offset in range(0, len(file_lines), slice_size)
    ]
)
#converting struct of events in 3 columns(aid,ts,type) 
df_final=df.explode('events').unnest('events')