<a href="https://colab.research.google.com/github/Ha-eunYu/OTTO/blob/main/otto_v4.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# !pip install polars
!pip install 'polars[all]'

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars[all] in /usr/local/lib/python3.8/dist-packages (0.16.1)
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (4.4.0)
Requirement already satisfied: deltalake>=0.6.2 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (0.7.0)
Requirement already satisfied: connectorx in /usr/local/lib/python3.8/dist-packages (from polars[all]) (0.3.1)
Requirement already satisfied: xlsx2csv>=0.8.0 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (0.8.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from polars[all]) (3.2.2)
Requirement already satisfied: pyarrow>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (9.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from polars[all]) (1.3.5)
Requirement already satisfied: fsspec in /usr/local/lib/python3.8/dist-packages (from polars[all]) (2022.11.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from polars[all]) (1.21.6)
Requirement already satisfied: backports.zoneinfo in /usr/local/lib/python3.8/dist-packages (from polars[all]) (0.2.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->polars[all]) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->polars[all]) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->polars[all]) (1.15.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import polars as pl
paths = [
         '/content/drive/My Drive/OTTO/sub_rerank_575.csv', # 0.575
         '/content/drive/My Drive/OTTO/sub_pipeline2_576.csv', # 0.576
         '/content/drive/My Drive/OTTO/sub_rerank_577.csv', # 0.577
         '/content/drive/My Drive/OTTO/sub_rerank_577.csv'
        #  '/content/drive/My Drive/OTTO/sub_pip_co-visitiation_577.csv', # 0.577
        #  '/content/drive/My Drive/OTTO/sub_pipeline2_577.csv', # 0.577
        ]

In [2]:
def read_sub(path, weight=1): # by default let us assing the weight of 1 to predictions from each submission, this will be akin to a standard vote ensemble
    '''a helper function for loading and preprocessing submissions'''
    return (
        pl.read_csv(path)
            .with_columns(pl.col('labels').str.split(by=' '))
            .with_columns(pl.lit(weight).alias('vote'))
            .explode('labels')
            .rename({'labels': 'aid'})
            .with_columns(pl.col('aid').cast(pl.UInt32)) # we are casting the `aids` to `Int32`! memory management is super important to ensure we don't run out of resources
            .with_columns(pl.col('vote').cast(pl.UInt8))
    )

In [3]:
subs = [read_sub(path) for path in paths]

In [ ]:
# subs[0].filter(
#     (pl.col("session_type") == "14115617_orders")).sort(by='aid')

In [ ]:
# subs[1].filter(
#     (pl.col("session_type") == "14115617_orders")).sort(by='aid')

In [ ]:
# subs[2].filter(
#     (pl.col("session_type") == "14115617_orders")).sort(by='aid')

In [4]:
subs = subs[0].join(subs[1], how='outer', on=['session_type', 'aid']).join(subs[2], how='outer', on=['session_type', 'aid'], suffix='_right2')
subs.head()

shape: (5, 5)
┌─────────────────┬─────────┬──────┬────────────┬─────────────┐
│ session_type    ┆ aid     ┆ vote ┆ vote_right ┆ vote_right2 │
│ ---             ┆ ---     ┆ ---  ┆ ---        ┆ ---         │
│ str             ┆ u32     ┆ u8   ┆ u8         ┆ u8          │
╞═════════════════╪═════════╪══════╪════════════╪═════════════╡
│ 12899779_clicks ┆ 59625   ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 1253524 ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 737445  ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 438191  ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 731692  ┆ 1    ┆ 1          ┆ 1           │
└─────────────────┴─────────┴──────┴────────────┴─────────────┘

In [ ]:
# subs.filter(
#     (pl.col("session_type") == "14115617_orders")).sort(by='aid')

In [ ]:
# xxx=subs.fill_null(0).with_columns((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum')).filter(
#     (pl.col("session_type") == "14115617_orders")).sort(by='aid').groupby('session_type').agg([
#     pl.col('aid').alias('labels')
# ])
# xxx[0,1]
#     # .with_columns(pl.col('labels').str.split(by=' '))

In [ ]:
# subs.fill_null(0).with_columns((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum')).filter(
#     (pl.col("session_type") == "14115617_orders")).sort(by='aid')

In [5]:
# subs_df_null = (subs
#     #.fill_null(0)
#     .with_columns((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
#     #.drop(['vote', 'vote_right', 'vote_right2'])
#     .sort(by='vote_sum')
#     .reverse()
# )

In [ ]:
# subs_df_null_sum=subs_df_null.groupby("session_type", maintain_order=True).agg([
#     pl.col("aid").count().alias("count"),
#     pl.col("vote_sum").sum().alias("sum")
# ])
# subs_df_null_sum.sort(by='sum').reverse()

In [ ]:
# 88547/5015409

In [ ]:
# 4902794/5015409

In [ ]:
# subs_df_null_sum.filter(
#      (pl.col('sum') >= 60 )
# )

In [ ]:
# subs_df_null.filter(
#     (pl.col("session_type") == "14115617_orders"))

In [26]:
# subs_df_0 = (subs
#     .fill_null(0)
#     .with_columns((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
#     .drop(['vote', 'vote_right', 'vote_right2'])
#     .sort(by='vote_sum')
#     .reverse()
# )

In [ ]:
# subs_df_null_sum=subs_df_null.groupby("session_type", maintain_order=True).agg([
#     pl.col("aid").count().alias("count"),
#     pl.col("vote_sum").sum().alias("sum")
# ])
# subs_df_null_sum.sort(by='sum').reverse()

In [ ]:
# subs_sum=subs.groupby("session_type", maintain_order=True).agg([
#     pl.col("aid").count().alias("count"),
#     pl.col("vote_sum").sum().alias("sum")
# ])
# subs_sum.sort(by='sum').reverse()

In [6]:
subs_sum = (subs
    .fill_null(0)
    .with_columns((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
    .drop(['vote', 'vote_right', 'vote_right2'])
    .sort(by='vote_sum')
    .reverse()
)

subs_sum.head()

shape: (5, 3)
┌────────────────┬─────────┬──────────┐
│ session_type   ┆ aid     ┆ vote_sum │
│ ---            ┆ ---     ┆ ---      │
│ str            ┆ u32     ┆ u8       │
╞════════════════╪═════════╪══════════╡
│ 14571581_carts ┆ 984794  ┆ 3        │
│ 14571581_carts ┆ 1072049 ┆ 3        │
│ 14571581_carts ┆ 1392029 ┆ 3        │
│ 14571581_carts ┆ 1124107 ┆ 3        │
│ 14571581_carts ┆ 1571699 ┆ 3        │
└────────────────┴─────────┴──────────┘

In [ ]:
# subs_sum.filter(
#     (pl.col("session_type") == "14115617_orders")).sort(by='aid')

In [7]:
%%time
preds = subs_sum.groupby('session_type').agg([
    pl.col('aid').head(20).alias('labels')
])

preds = preds.with_columns(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))

<timed exec>:5: DeprecationWarning: `with_column` has been deprecated in favor of `with_columns`. This method will be removed in version 0.17.0

CPU times: user 4min 35s, sys: 10.5 s, total: 4min 45s
Wall time: 3min 39s

In [8]:
preds.write_csv('/content/drive/My Drive/OTTO/submission_ens_1.csv')
preds.write_csv('submission.csv')

In [100]:
subs_sum.filter((pl.col("session_type") == "14115617_orders")).sort(by='vote_sum').groupby('session_type').agg([
    pl.col('aid').alias('labels')
]).with_columns(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))[0,1]

'329725 1460571 1043508 1043508 986164 986164 1707008 1705681 1670410 1340535 1330815 1043508 1043508 986164 986164 888679 843465 429391 312441 274783 40637 16330 289026 1112378'

In [78]:
xxx.with_columns(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))[0,1]

'16330 40637 274783 289026 312441 329725 429391 843465 888679 986164 986164 986164 986164 1043508 1043508 1043508 1043508 1112378 1330815 1340535 1460571 1670410 1705681 1707008'

In [61]:
preds = preds.with_columns(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))

<ipython-input-61-c0063260e466>:1: DeprecationWarning: `with_column` has been deprecated in favor of `with_columns`. This method will be removed in version 0.17.0
  preds = preds.with_column(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))

In [79]:
xx=preds.filter(
    (pl.col("session_type") == "14115617_orders"))

In [80]:
preds.filter((pl.col("session_type") == "14115617_orders"))[0,1]

'1112378 289026 16330 40637 274783 312441 429391 843465 888679 986164 986164 1043508 1043508 1330815 1340535 1670410 1705681 1707008 986164 986164'

In [ ]:
"16330 40637 274783 289026 312441 329725 429391 843465 888679 986164 1043508 1112378 1330815 1340535 1460571 1670410 1705681 1707008 1707008 1707008"

In [ ]:
"1112378 289026 16330 40637 274783 312441 429391 843465 888679 986164 1043508 1330815 1340535 1670410 1705681 1707008"

In [82]:
preds_fin=preds
preds_fin.filter((pl.col("session_type") == "14115617_orders"))[0,1]='16330 40637 274783 289026 312441 329725 429391 843465 888679 986164 1043508 1112378 1330815 1340535 1460571 1670410 1705681 1707008 1707008 1707008'

In [83]:
preds_fin.filter((pl.col("session_type") == "14115617_orders"))[0,1]

'1112378 289026 16330 40637 274783 312441 429391 843465 888679 986164 986164 1043508 1043508 1330815 1340535 1670410 1705681 1707008 986164 986164'

In [ ]:
%%time
preds = subs.groupby('session_type').agg([
    pl.col('aid').head(20).alias('labels')
]) 
preds = preds.with_columns(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))

In [84]:
preds.write_csv('submission.csv')

In [85]:
import pandas as pd
preds_fin=pd.read_csv('submission.csv')

In [88]:
preds_fin.head()

      session_type                                             labels
0  13614869_orders  1655731 1284677 1232439 958747 765649 474399 6...
1   13320849_carts  1280249 1176975 169239 1776521 1574899 248546 ...
2  14018670_orders  1260169 624748 89841 581730 656601 806318 1020...
3  12996352_orders  1128623 1188999 422357 478570 1061932 1367543 ...
4   13983624_carts  1596300 148534 982938 986164 147526 390163 688...

### 3개

In [4]:
subs_df = subs[0].join(subs[1], how='outer', on=['session_type', 'aid']).join(subs[2], how='outer', on=['session_type', 'aid'], suffix='_right2')
subs_df.head()
# subs = sub1.join(sub2, how='outer', on=['session_type', 'aid'])

shape: (5, 5)
┌─────────────────┬─────────┬──────┬────────────┬─────────────┐
│ session_type    ┆ aid     ┆ vote ┆ vote_right ┆ vote_right2 │
│ ---             ┆ ---     ┆ ---  ┆ ---        ┆ ---         │
│ str             ┆ u32     ┆ u8   ┆ u8         ┆ u8          │
╞═════════════════╪═════════╪══════╪════════════╪═════════════╡
│ 12899779_clicks ┆ 59625   ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 1253524 ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 737445  ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 438191  ┆ 1    ┆ 1          ┆ 1           │
│ 12899779_clicks ┆ 731692  ┆ 1    ┆ 1          ┆ 1           │
└─────────────────┴─────────┴──────┴────────────┴─────────────┘

In [6]:
subs_df_null=subs_df.with_columns(pl.col('aid').cast(pl.UInt32))
subs_df_null=subs_df_null.with_columns((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
subs_df_null=subs_df_null.sort(by='vote_sum').reverse()
subs_df_null

shape: (100436260, 6)
┌─────────────────┬─────────┬──────┬────────────┬─────────────┬──────────┐
│ session_type    ┆ aid     ┆ vote ┆ vote_right ┆ vote_right2 ┆ vote_sum │
│ ---             ┆ ---     ┆ ---  ┆ ---        ┆ ---         ┆ ---      │
│ str             ┆ u32     ┆ u8   ┆ u8         ┆ u8          ┆ u8       │
╞═════════════════╪═════════╪══════╪════════════╪═════════════╪══════════╡
│ 14571581_carts  ┆ 196038  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 14571581_carts  ┆ 1780093 ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 14571581_carts  ┆ 1497245 ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 14571581_carts  ┆ 174670  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ ...             ┆ ...     ┆ ...  ┆ ...        ┆ ...         ┆ ...      │
│ 12899874_clicks ┆ 1551213 ┆ 1    ┆ 1          ┆ null        ┆ null     │
│ 12899827_clicks ┆ 1108162 ┆ null ┆ 1          ┆ 1           ┆ null     │
│ 12899827_clicks ┆ 1073075 ┆ null ┆ 1          ┆ 1           ┆ null     │
│ 12899820_clicks ┆ 1551213 ┆ 1    ┆ 1          ┆ null        ┆ null     │
└─────────────────┴─────────┴──────┴────────────┴─────────────┴──────────┘

In [11]:
subs_df_0=subs_df.with_columns(pl.col('aid').cast(pl.UInt32))
subs_df_0=subs_df_0.fill_null(0)
subs_df_0=subs_df_0.with_column((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
subs_df_0=subs_df_0.sort(by='vote_sum').reverse()

In [ ]:
subs = (subs
    .fill_null(0)
    .with_column((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
    .drop(['vote', 'vote_right', 'vote_right2'])
    .sort(by='vote_sum')
    .reverse()
)

subs

<ipython-input-8-a028f947c706>:1: DeprecationWarning: `with_column` has been deprecated in favor of `with_columns`. This method will be removed in version 0.17.0
  subs = (subs

shape: (5, 3)
┌────────────────┬─────────┬──────────┐
│ session_type   ┆ aid     ┆ vote_sum │
│ ---            ┆ ---     ┆ ---      │
│ str            ┆ u32     ┆ u8       │
╞════════════════╪═════════╪══════════╡
│ 14571581_carts ┆ 196038  ┆ 3        │
│ 14571581_carts ┆ 1780093 ┆ 3        │
│ 14571581_carts ┆ 1497245 ┆ 3        │
│ 14571581_carts ┆ 174670  ┆ 3        │
│ 14571581_carts ┆ 1764910 ┆ 3        │
└────────────────┴─────────┴──────────┘

In [31]:
subs_df.filter(
    (pl.col("session_type") == "12899779_clicks"))

shape: (20, 6)
┌─────────────────┬─────────┬──────┬────────────┬─────────────┬──────────┐
│ session_type    ┆ aid     ┆ vote ┆ vote_right ┆ vote_right2 ┆ vote_sum │
│ ---             ┆ ---     ┆ ---  ┆ ---        ┆ ---         ┆ ---      │
│ str             ┆ u32     ┆ u8   ┆ u8         ┆ u8          ┆ u8       │
╞═════════════════╪═════════╪══════╪════════════╪═════════════╪══════════╡
│ 12899779_clicks ┆ 986164  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 12899779_clicks ┆ 108125  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 12899779_clicks ┆ 485256  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 12899779_clicks ┆ 1460571 ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ ...             ┆ ...     ┆ ...  ┆ ...        ┆ ...         ┆ ...      │
│ 12899779_clicks ┆ 438191  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 12899779_clicks ┆ 737445  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 12899779_clicks ┆ 1253524 ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 12899779_clicks ┆ 59625   ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
└─────────────────┴─────────┴──────┴────────────┴─────────────┴──────────┘

In [30]:
subs_df.filter(
    (pl.col("session_type") == "14177147_carts"))

shape: (28, 6)
┌────────────────┬─────────┬──────┬────────────┬─────────────┬──────────┐
│ session_type   ┆ aid     ┆ vote ┆ vote_right ┆ vote_right2 ┆ vote_sum │
│ ---            ┆ ---     ┆ ---  ┆ ---        ┆ ---         ┆ ---      │
│ str            ┆ u32     ┆ u8   ┆ u8         ┆ u8          ┆ u8       │
╞════════════════╪═════════╪══════╪════════════╪═════════════╪══════════╡
│ 14177147_carts ┆ 292448  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 14177147_carts ┆ 1086272 ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 14177147_carts ┆ 979240  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ 14177147_carts ┆ 377454  ┆ 1    ┆ 1          ┆ 1           ┆ 3        │
│ ...            ┆ ...     ┆ ...  ┆ ...        ┆ ...         ┆ ...      │
│ 14177147_carts ┆ 420907  ┆ null ┆ 1          ┆ 1           ┆ null     │
│ 14177147_carts ┆ 242328  ┆ null ┆ 1          ┆ 1           ┆ null     │
│ 14177147_carts ┆ 195932  ┆ null ┆ 1          ┆ 1           ┆ null     │
│ 14177147_carts ┆ 1452157 ┆ null ┆ 1          ┆ null        ┆ null     │
└────────────────┴─────────┴──────┴────────────┴─────────────┴──────────┘

In [18]:
subs_df.groupby("session_type", maintain_order=True).sum().sort(by='vote_sum').reverse()

shape: (5015409, 6)
┌─────────────────┬──────────┬──────┬────────────┬─────────────┬──────────┐
│ session_type    ┆ aid      ┆ vote ┆ vote_right ┆ vote_right2 ┆ vote_sum │
│ ---             ┆ ---      ┆ ---  ┆ ---        ┆ ---         ┆ ---      │
│ str             ┆ u32      ┆ i64  ┆ i64        ┆ i64         ┆ i64      │
╞═════════════════╪══════════╪══════╪════════════╪═════════════╪══════════╡
│ 12899779_clicks ┆ 17141384 ┆ 20   ┆ 20         ┆ 20          ┆ 60       │
│ 12899780_clicks ┆ 21439036 ┆ 20   ┆ 20         ┆ 20          ┆ 60       │
│ 12899781_clicks ┆ 18616549 ┆ 20   ┆ 20         ┆ 20          ┆ 60       │
│ 12899782_clicks ┆ 17182481 ┆ 20   ┆ 20         ┆ 20          ┆ 60       │
│ ...             ┆ ...      ┆ ...  ┆ ...        ┆ ...         ┆ ...      │
│ 14276774_clicks ┆ 24273317 ┆ 20   ┆ 20         ┆ 20          ┆ 30       │
│ 13448607_orders ┆ 28700764 ┆ 20   ┆ 20         ┆ 20          ┆ 30       │
│ 13472133_carts  ┆ 26144639 ┆ 20   ┆ 20         ┆ 20          ┆ 30       │
│ 14276774_carts  ┆ 26144639 ┆ 20   ┆ 20         ┆ 20          ┆ 30       │
└─────────────────┴──────────┴──────┴────────────┴─────────────┴──────────┘

In [7]:
subs_df_null_sum=subs_df_null.groupby("session_type", maintain_order=True).agg([
    pl.col("vote_sum").count().alias("count"),
    pl.col("vote_sum").sum().alias("sum")
])
subs_df_null_sum.sort(by='sum').reverse()

shape: (5015409, 3)
┌─────────────────┬───────┬─────┐
│ session_type    ┆ count ┆ sum │
│ ---             ┆ ---   ┆ --- │
│ str             ┆ u32   ┆ i64 │
╞═════════════════╪═══════╪═════╡
│ 12899779_clicks ┆ 20    ┆ 60  │
│ 12899780_clicks ┆ 20    ┆ 60  │
│ 12899781_clicks ┆ 20    ┆ 60  │
│ 12899782_clicks ┆ 20    ┆ 60  │
│ ...             ┆ ...   ┆ ... │
│ 14276774_clicks ┆ 30    ┆ 30  │
│ 13448607_orders ┆ 30    ┆ 30  │
│ 13472133_carts  ┆ 30    ┆ 30  │
│ 14276774_carts  ┆ 30    ┆ 30  │
└─────────────────┴───────┴─────┘

In [ ]:
28개 중에서 36/3=12개만 완전히 같음
30개 중에서 30/3=10개만 완전히 같음

In [10]:
5015409-4902794

112615

In [8]:
4902794/5015409

0.9775461981266134

In [27]:
subs_df_null_sum.filter(
     (pl.col('count') == 20 )
)

shape: (4902794, 3)
┌─────────────────┬───────┬─────┐
│ session_type    ┆ count ┆ sum │
│ ---             ┆ ---   ┆ --- │
│ str             ┆ u32   ┆ i64 │
╞═════════════════╪═══════╪═════╡
│ 14571581_carts  ┆ 20    ┆ 60  │
│ 14571580_carts  ┆ 20    ┆ 60  │
│ 14571579_carts  ┆ 20    ┆ 60  │
│ 14571578_carts  ┆ 20    ┆ 60  │
│ ...             ┆ ...   ┆ ... │
│ 12899782_clicks ┆ 20    ┆ 60  │
│ 12899781_clicks ┆ 20    ┆ 60  │
│ 12899780_clicks ┆ 20    ┆ 60  │
│ 12899779_clicks ┆ 20    ┆ 60  │
└─────────────────┴───────┴─────┘

In [44]:
subs_df_sum.filter(
    pl.col("count").is_between(25,40),
)

shape: (517, 3)
┌─────────────────┬───────┬─────┐
│ session_type    ┆ count ┆ sum │
│ ---             ┆ ---   ┆ --- │
│ str             ┆ u32   ┆ i64 │
╞═════════════════╪═══════╪═════╡
│ 14561260_carts  ┆ 26    ┆ 45  │
│ 14557152_carts  ┆ 25    ┆ 48  │
│ 14551328_carts  ┆ 25    ┆ 48  │
│ 14547494_carts  ┆ 25    ┆ 48  │
│ ...             ┆ ...   ┆ ... │
│ 12934134_clicks ┆ 25    ┆ 45  │
│ 12920528_clicks ┆ 27    ┆ 39  │
│ 12914745_clicks ┆ 27    ┆ 45  │
│ 12910698_clicks ┆ 27    ┆ 45  │
└─────────────────┴───────┴─────┘

In [56]:
subs_sum=subs.groupby("session_type", maintain_order=True).agg([
    pl.col("vote_sum").count().alias("count"),
    pl.col("vote_sum").sum().alias("sum")
])
subs_sum.filter(
    (pl.col('sum') < 60) & (pl.col('count') < 20)
)

shape: (0, 3)
┌──────────────┬───────┬─────┐
│ session_type ┆ count ┆ sum │
│ ---          ┆ ---   ┆ --- │
│ str          ┆ u32   ┆ i64 │
╞══════════════╪═══════╪═════╡
└──────────────┴───────┴─────┘

In [51]:
preds=subs.groupby('session_type').agg([
    pl.col('vote_sum')
]) 
# preds = preds.with_column(pl.col('vote_sum').apply(lambda lst: ' '.join([str(aid) for aid in lst])))

In [52]:
preds

shape: (5015409, 2)
┌─────────────────┬───────────────┐
│ session_type    ┆ vote_sum      │
│ ---             ┆ ---           │
│ str             ┆ list[u8]      │
╞═════════════════╪═══════════════╡
│ 13054191_clicks ┆ [3, 3, ... 3] │
│ 13118997_carts  ┆ [3, 3, ... 3] │
│ 13539201_clicks ┆ [3, 3, ... 3] │
│ 12989735_clicks ┆ [3, 3, ... 3] │
│ ...             ┆ ...           │
│ 13963671_carts  ┆ [3, 3, ... 3] │
│ 14058255_carts  ┆ [3, 3, ... 3] │
│ 13144669_orders ┆ [3, 3, ... 3] │
│ 14015593_carts  ┆ [3, 3, ... 3] │
└─────────────────┴───────────────┘

In [48]:
preds.describe()

shape: (7, 3)
┌────────────┬─────────────────┬─────────────────────────────────────┐
│ describe   ┆ session_type    ┆ vote_sum                            │
│ ---        ┆ ---             ┆ ---                                 │
│ str        ┆ str             ┆ str                                 │
╞════════════╪═════════════════╪═════════════════════════════════════╡
│ count      ┆ 5015409         ┆ 5015409                             │
│ null_count ┆ 0               ┆ 0                                   │
│ mean       ┆ null            ┆ null                                │
│ std        ┆ null            ┆ null                                │
│ min        ┆ 12899779_carts  ┆ 3 3 3 3 3 3 3 3 3 3 2 2 2 2 2 2 ... │
│ max        ┆ 14571581_orders ┆ 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 ... │
│ median     ┆ null            ┆ null                                │
└────────────┴─────────────────┴─────────────────────────────────────┘

In [19]:
%%time
preds = subs.groupby('session_type').agg([
    pl.col('aid').head(20).alias('labels')
]) 
# preds = preds.with_column(pl.col('labels').apply(lambda lst: ' '.join([str(aid) for aid in lst])))
preds

CPU times: user 40.4 s, sys: 4.35 s, total: 44.8 s
Wall time: 3.76 s

shape: (5015409, 2)
┌─────────────────┬─────────────────────────────────┐
│ session_type    ┆ labels                          │
│ ---             ┆ ---                             │
│ str             ┆ list[u32]                       │
╞═════════════════╪═════════════════════════════════╡
│ 13593586_carts  ┆ [714397, 393566, ... 1428446]   │
│ 14436455_carts  ┆ [1234721, 1765338, ... 1453584] │
│ 13213361_orders ┆ [694920, 666776, ... 214670]    │
│ 13470726_clicks ┆ [559319, 1564042, ... 521668]   │
│ ...             ┆ ...                             │
│ 12983854_carts  ┆ [10282, 899094, ... 1425127]    │
│ 14130537_clicks ┆ [986164, 108125, ... 954951]    │
│ 13369113_clicks ┆ [79548, 1570702, ... 320528]    │
│ 13947508_orders ┆ [138431, 897528, ... 1634537]   │
└─────────────────┴─────────────────────────────────┘

In [ ]:
preds.write_csv('submission.csv')

In [ ]:
preds.write_csv('/content/drive/My Drive/OTTO/submission_ens.csv')

### 5개

In [ ]:
subs_df = subs_df.join(subs[3], how='outer', on=['session_type', 'aid'], suffix='_right3').join(subs[4], how='outer', on=['session_type', 'aid'], suffix='_right4')
subs_df.head()

In [17]:
subs_df = (subs_df
    .fill_null(0)
    .with_column((pl.col('vote') + pl.col('vote_right') + pl.col('vote_right2')).alias('vote_sum'))
    # .drop(['vote', 'vote_right', 'vote_right2'])
    .sort(by='vote_sum')
    .reverse()
)

SyntaxError: ignored

In [15]:
subs_df

shape: (124649197, 8)
┌───────────────┬─────────┬──────┬────────────┬─────────────┬─────────────┬─────────────┬──────────┐
│ session_type  ┆ aid     ┆ vote ┆ vote_right ┆ vote_right2 ┆ vote_right3 ┆ vote_right4 ┆ vote_sum │
│ ---           ┆ ---     ┆ ---  ┆ ---        ┆ ---         ┆ ---         ┆ ---         ┆ ---      │
│ str           ┆ u32     ┆ u8   ┆ u8         ┆ u8          ┆ u8          ┆ u8          ┆ u8       │
╞═══════════════╪═════════╪══════╪════════════╪═════════════╪═════════════╪═════════════╪══════════╡
│ 14571581_cart ┆ 196038  ┆ 1    ┆ 1          ┆ 1           ┆ 0           ┆ 0           ┆ 3        │
│ s             ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
│ 14571581_cart ┆ 1780093 ┆ 1    ┆ 1          ┆ 1           ┆ 0           ┆ 0           ┆ 3        │
│ s             ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
│ 14571581_cart ┆ 1497245 ┆ 1    ┆ 1          ┆ 1           ┆ 1           ┆ 0           ┆ 3        │
│ s             ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
│ 14571581_cart ┆ 174670  ┆ 1    ┆ 1          ┆ 1           ┆ 0           ┆ 1           ┆ 3        │
│ s             ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
│ ...           ┆ ...     ┆ ...  ┆ ...        ┆ ...         ┆ ...         ┆ ...         ┆ ...      │
│ 13017840_orde ┆ 1043508 ┆ 0    ┆ 0          ┆ 0           ┆ 1           ┆ 0           ┆ 0        │
│ rs            ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
│ 14366356_clic ┆ 1036879 ┆ 0    ┆ 0          ┆ 0           ┆ 1           ┆ 1           ┆ 0        │
│ ks            ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
│ 13824953_clic ┆ 1352465 ┆ 0    ┆ 0          ┆ 0           ┆ 1           ┆ 1           ┆ 0        │
│ ks            ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
│ 13352306_clic ┆ 36792   ┆ 0    ┆ 0          ┆ 0           ┆ 1           ┆ 1           ┆ 0        │
│ ks            ┆         ┆      ┆            ┆             ┆             ┆             ┆          │
└───────────────┴─────────┴──────┴────────────┴─────────────┴─────────────┴─────────────┴──────────┘

In [ ]:
subs_df_null_sum=subs_df_null.groupby("session_type", maintain_order=True).agg([
    pl.col("vote_sum").count().alias("count"),
    pl.col("vote_sum").sum().alias("sum")
])
subs_df_null_sum.sort(by='sum').reverse()

In [8]:
# import polars as pl
# weight=1
# sub1=pl.read_csv('/content/drive/My Drive/OTTO/sub_pip_co-visitiation_577.csv').with_columns(pl.col('labels').str.split(by=' ')).with_columns(pl.lit(weight).alias('vote'))
# sub2=pl.read_csv('/content/drive/My Drive/OTTO/sub_pipeline2_577.csv').with_columns(pl.col('labels').str.split(by=' ')).with_columns(pl.lit(weight).alias('vote'))
# sub3=pl.read_csv('/content/drive/My Drive/OTTO/sub_rerank_577.csv').with_columns(pl.col('labels').str.split(by=' ')).with_columns(pl.lit(weight).alias('vote'))

In [9]:
# sub1=sub1.explode('labels').rename({'labels': 'aid'})
# sub2=sub2.explode('labels').rename({'labels': 'aid'})
# sub3=sub3.explode('labels').rename({'labels': 'aid'})

In [10]:
# sub1=sub1.with_columns(pl.col('aid').cast(pl.UInt32)).with_columns(pl.col('vote').cast(pl.UInt8))
# sub2=sub2.with_columns(pl.col('aid').cast(pl.UInt32)).with_columns(pl.col('vote').cast(pl.UInt8))
# sub3=sub3.with_columns(pl.col('aid').cast(pl.UInt32)).with_columns(pl.col('vote').cast(pl.UInt8))

In [11]:
# sub1.write_csv('/content/drive/My Drive/OTTO/sub1.csv')

In [12]:
# import polars as pl
# sub1=pl.read_csv('/content/drive/My Drive/OTTO/sub1.csv')
# sub2=pl.read_csv('/content/drive/My Drive/OTTO/sub2.csv')
# sub3=pl.read_csv('/content/drive/My Drive/OTTO/sub3.csv')